// Maybe rename this file, it accounts for any misc global site structure
@use '../abstracts/variables' as *;

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    > * {
        margin: 0;
    }

    .site-footer {
        margin-top: auto;
    }
}

// TODO: Should this padding be hardcoded really? Not very maintainable.
// Also, which file should this go in?
// Override default layout elements padding - mainly for nested Groups / Columns.
:where(.has-background) {
    padding: 20px;
}
